RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^Kilepes$ oldalak/kilepes.php [nc,qsa]
RewriteRule ^Login$ oldalak/logreg.php [nc,qsa]
RewriteRule ^felhasznaloi$ oldalak/felhasznaloi.php [nc,qsa]
RewriteRule ^Felhasznalomegerosites$ assets/Felhasznalomegerosites.php [nc,qsa]
RewriteRule ^felhasznalo_belepve$ assets/felhasznalo_belepve.php [nc,qsa]
RewriteRule ^keptolt$ assets/keptolt.php [nc,qsa]
RewriteRule ^adatvaltoz$ assets/adatvaltoz.php [nc,qsa]
RewriteRule ^felhasznalo_kod$ assets/felhasznalo_kod.php [nc,qsa]
RewriteRule ^([a-zA-Z]+)$ index.php?menupont=$1 [nc,qsa]
