RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Kilepes$ oldalak/kilepes.php [nc,qsa]
RewriteRule ^Login$ oldalak/logreg.php [nc,qsa]
RewriteRule ^felhasznaloi$ oldalak/felhasznaloi.php [nc,qsa]
RewriteRule ^hírek$ oldalak/News.php [nc,qsa]
RewriteRule ^Felhasznalomegerosites$ assets/Felhasznalomegerosites.php [nc,qsa]
RewriteRule ^felhasznalo_belepve$ assets/felhasznalo_belepve.php [nc,qsa]
RewriteRule ^keptolt$ assets/keptolt.php [nc,qsa]
RewriteRule ^adatvaltoz$ assets/adatvaltoz.php [nc,qsa]
RewriteRule ^admin$ oldalak/Admin.php [nc,qsa]
RewriteRule ^kilepesadmin$ oldalak/Kilepesadmin.php [nc,qsa]
RewriteRule ^chat$ assets/chat.php [nc,qsa]
RewriteRule ^chatszoba$ assets/chatszoba.php [nc,qsa]
RewriteRule ^szoba$ oldalak/Szobak.php [nc,qsa]
RewriteRule ^szobaszabaly$ chat.php?get_typing [nc,qsa]
RewriteRule ^szobafrissit$ chat.php?get_messages=$1 [nc,qsa]
RewriteRule ^iras$ chat.php?get_messages=$1 [nc,qsa]
RewriteRule ^felhasznalo_kod$ assets/felhasznalo_kod.php [nc,qsa]
RewriteRule ^level_kuld2$ phpmailerteljes/level_kuld2.php [nc,qsa]
RewriteRule ^([a-zA-Z]+)$ index.php?menupont=$1 [nc,qsa]
